/*element style*/

html {
	font-size: 100%
	display: block;	
}

body {
	font-family: 'Josefin Slab', serif;
	font-size: ;
	font-weight: ;
	font-height: ;
	line-height: ;
	font-style: ;
	background-position: top left;
 	background-size: auto;
  	background-attachment: scroll;
  	background-repeat: repeat;
  	background-color: #fcfcff;
  	color: #666;
  	margin: 0;
  	display: block;
}

div {
	display: block;
}

header {
	display: block;
}

h1 {
	color: #95BF55;

}

nav ul {
	margin: 0;
	padding: 0;
}

ul {
  font-size: 18px;
  line-height: 2em;
  font-weight: 300;
  font-style: normal;
  color: #BF6955;
}



/*class style*/

.site-logo {
	color: #95BF55;
	font-weight: 700;
	font-size: 36px;
	display: inline-block;
	font-style: none;
}

.footer {
	width: 100%;
 	float: none;
  	text-align: center;
  	color: #95BF55;
}

.images {
	margin-left: 62px;

}

/*id style*/

#canvas {
	width: 960px;
	max-width: 100%;
	margin: 0 auto;
	padding: 30px;
	position: relative;
	box-sizing: border-box;
	background-color: rgba(191, 105, 85, 0.16)
}

#header {
	margin-bottom: 30px;
}

#header:before, 
#page:before, 
#footer:before, 
footer:before, 
.clear:before, 
#header:after, 
#page:after, 
#footer:after, 
footer:after, 
.clear:after {
  content: "";
  display: table;
}

#site-logo {
  width: 100%;
  text-align: center;
}

#site-logo, #topNav {
  float: left;
}

#topNav {
	position: relative;
 	margin: 15px;
	width: 100%;
 	float: left;
  	text-align: center;
}

#footer {
	width: 100%;
 	float: none;
  	text-align: center;
}

#main-page {
	margin: 90px 0;
 	position: relative;
 	display: block;
}

#nature {
	width: 500px;
	height: 500px;
	margin: auto;
	margin-left: 145;
}
}
